* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    width: 100%;
}

.pri {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1e172f;
}

.menu ul {
    display: flex;
    margin: 0 90px;
}

.menu ul li a {
    color: #acaab0;
    margin: 0 40px;
}

.menu ul i a:hover {
    cursor: pointer;
    color: #fff;
}

.botont {
    background: linear-gradient(to right, #6631a3, #3f62d5, #0f79d5);
    border: none;
    color: rgb(255, 255, 255);
    padding: 8px 15px 10px 17px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: -9px 5px;
}

.inic1 {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1e172f;
}

.contenedor1 {
    background-color: #2e2550;
    padding-right: 18%;
}

#tit1 {
    font-size: 103px;
    color: white;
    margin: 117px 7px 27px 244px;
}

#parrafo {
    color: white;
    margin: 0px 1px 59px 244px;
    font-size: 18px;
}

#Inic1 {
    height: auto;
    display: flex;
}

#boton {

    border: 1px solid #939395af;
    border-radius: 3px;
    width: 14vw;
    height: 8vh;
    margin-left: 240px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.btn1 {
    color: rgb(244 20 134);
    background-color: #ffffff;
    border: 1px solid #ffffffaf;
    height: 6vh;
    width: 6vw;
    font-size: 11px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
}

.btn2 {
    color: #ffffff;
    background-color: #2e2550;
    border: 1px solid #ffffffaf;
    height: 6vh;
    width: 6vw;
    font-size: 12px;
    border-radius: 4px;
    cursor: pointer;
}

.contenedor2 {
    background: url(./images/hojasFondo.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.iphone {
    height: 66vh;
    margin: 156px 9px 0px 194px;
}

#blanco {
    background-color: #f1f2f7;
    
}

#tit2 {
    color: #f41486;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
}

#cont1 {
    display: flex;
    flex-direction: column;
}

.he2 {
    display: flex;
    justify-content: center;
    margin: 99px 0px 0px 20px;
}

.laptop {
    width: 30vw;
    height: 38vh;
    margin-right: 8%;
}

#alpha {
    color: #c3528c;
    font-size: 52px;
    font-family: 'Rajdhani', sans-serif;
}

#marketing {
    color: #f41486;
}

.personalizada {
    list-style: none;
    padding-left: 20px;
    line-height: 25px;
    color: #7e7f80;
}

.personalizada li {
    background: url(../images/chulo.jpeg);
    padding-left: 2rem;
    background-position: 0 50%;
    background-size: 1 2.3rem 1.3rem;
    background-repeat: no-repeat;
}

#parr2 {
    line-height: 25px;
    color: #7e7f80;
}

#azul {
    background-color: #1e172f;
}

#tit3 {
    color: rgb(251, 251, 251);
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}


.he3 {
    color: #c4c4c8;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 27px;
    font-size: 20px;
}

#precio {
    width: 100%;
    background-color: rgb(245 245 245);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#precio h3 {
    color: black;
    font-size: 35px;
    font-weight: normal;
}

#precio h4 {
    width: 60px;
    height: 40px;
    font-size: 12px;
    top: 0;
    align-items: end;
    color: #525455;
}

#titulol {
    color: rgb(244 20 134);
}

.container {
    display: flex;
    justify-content: space-evenly;
    padding: 100px;
}

.container .card {
    width: 330px;
    height: 660px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    box-shadow: -1px 5px 15px black;
    transition: transform 0.3s;
    flex-direction: column;
}

.container .card:hover {
    transform: scale(1.050);
}

.carta-personalizada {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 2rem;
    background-position: 0 50%;
    background-size: 2.3rem 1.3rem;
}

.mover {
    margin: 2px 23px 2px 2px;
}

.container .card .card-title h2 {
    font-size: 35px;
    padding-bottom: 15px;
    color: rgb(0, 0, 0);
}

.container .card .card-title p span {
    font-size: 40px;
    padding: 0 5px;
}

#rosa {
    width: 141px;
    padding: 10px 20px;
    background-color: rgb(244 20 134);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: 0.3s;

}

button {
    width: 141px;
    padding: 10px 20px;
    background-color: #2e2550;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #41307c;
    letter-spacing: 1.2px;
}

button a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}

.card-title {
    background-color: rgb(255, 255, 255);
}

.card {
    height: auto;
}

.card-content {
    margin: 51px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40%
}

.footer {
    color: rgb(244 20 134);
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid #ebebeb;
    height: 80px;
    width: 88%;
    margin-left: 100px;
}

footer p {
    color: #949494;
    margin-right: 500px;
    font-size: 16px;
}

@media screen and (min-width:921px) and (max-width:1279px) {
    #tit1 {
        font-size: 70px;
        margin: 85px 1px 16px 100px;
    }

    .menu ul {
        margin: 0px 30px;
    }

    #parrafo {
        margin: 20px 0px 16px 100px;
    }

    .contenedor1 {
        padding-right: 10%;
    }

    #blanco {
        height: auto;
    }

    .btn1 {
        width: 7vw;
        font-size: 10px;
    }

    #boton {
        width: 20vw;
        margin-left: 100px;
    }

    .btn1 {
        width: 10vw;
        font-size: 10px;
    }

    .btn2 {
        width: 8vw
    }

    .he3 {
        font-size: 14px;
    }

    .container .card {
        width: 230px;
        font-size: 13px;
        height: 600px;
    }

    .mover {
        margin: 1px 20px 2px 2px;
    }

    .card .card-content {
        margin: 20px;
        height: 40%;
    }

    .container .card .card-title h2 {
        font-size: 25px;
    }

    footer p {
        margin-right: 200px;
    }

    footer {
        width: 88%;
    }

    #tit2 {
        padding-top: 100px;
    }

}

@media screen and (min-width:769px) and (max-width:920px) {
    .pri {
        font-size: 12px;
    }

    .menu ul {
        margin: 0px 1px;
        font-size: 12px;
    }

    .menu ul li a {
        color: #acaab0;
        margin: 0 24px;
    }

    .menu {
        margin: 0px 25px;
    }

    #tit1 {
        font-size: 40px;
        margin: 80px 1px 13px 90px;
    }

    #parrafo {
        margin: 20px 0px 16px 100px;
    }

    #boton {
        margin-left: 100px;
        width: 22vw;
    }

    .botont {
        font-size: 14px;
    }

    #alpha {
        font-size: 40px;
    }

    .laptop {
        width: 28vw;
        height: 30vh;
        margin-right: 8%;
    }

    .btn1 {
        width: 10vw;
        font-size: 10px;
    }

    .btn2 {
        width: 9vw
    }

    #blanco {
        height: auto;
    }

    .he3 {
        font-size: 13px;
    }

    .container {
        flex-direction: column;
        display: flex;
        width: 2px;
    }

    .container .card {
        flex-direction: column;
        display: flex;
        margin: 0px 20px 20px 130px;
        width: 300px;
        font-size: 15px;
        height: 600px;
    }

    #rosa {
        width: 141px;
        padding: 10px 20px;
    }

    .mover {
        margin: 1px 20px 2px 2px;
    }

    .card .card-content {
        margin: 20px;
        height: 40%;
    }

    .container .card .card-title h2 {
        font-size: 25px;
    }


    .iphone {
        height: 66vh;
        margin: 156px 9px 0px 120px;
    }

    #tit2 {
        padding-top: 100px;
    }

    .contenedor1 {
        padding-right: 13%;
    }

    #precio {
        height: 80px
    }

    footer p {
        margin-right: 130px;
    }

    footer {
        width: 80%;
    }
    #rosa {
        width: 141px;
        margin: 0px 20px 20px 70px;
        padding: 10px 20px;
    }

    #azulb {
        width: 141px;
        margin: 0px 20px 20px 70px;
        padding: 10px 20px;
    }
    #imagesFooter {
        display: flex;
        flex-direction: reverse;
    }
}

@media screen and (min-width:481px) and (max-width:767px) {
    #tit1 {
        font-size: 55px;
        margin: 0px 1px 13px 45px;
    }

    #parrafo {
        margin: 9px 1px 20px 46px;
        font-size: 14px;
    }

    .iphone {
        height: 45vh;
        margin: 50px 9px 0px 130px;
    }

    .contenedor2 {
        width: 100vw;
        height: 60vh;
    }

    #boton {
        margin-left: 48px;
        width: 36vw;
    }

    .laptop {
        width: 40vw;
        height: 16vh;
        margin: 0px 0px 0px 120px;

    }

    .botont {
        font-size: 11px;
        padding: 4px 0px 4px 2px;
        border-radius: 5px;
        margin: -4px 5px;
    }

    .menu ul {
        margin: 0px 2px;
        font-size: 12px;
    }

    .menu ul li a {
        margin: 0 27px;
        font-size: 12px;
    }

    .menu {
        margin: 9px 25px;
    }

    .btn1 {
        width: 16vw;
        font-size: 10px;
    }

    .pri {
        width: 100vw;
        height: 18vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .btn2 {
        width: 15vw;
        font-size: 12px;
    }

    .contenedor1 {
        padding: 15px;
    }

    .contenedor2 {
        width: 100vw;
        height: 80vh;
    }

    #Inic1 {
        display: flex;
        flex-direction: column;
    }

    #blanco {
        height: auto;
    }


    #tit2 {
        font-size: 45px;
        padding-top: 70px;
    }

    #alpha {
        font-size: 40px;
    }

    #parr2 {
        line-height: 20px;
    }

    .he2 {
        display: flex;
        flex-direction: column;
        margin: 99px 0px 15px 20px;
    }

    #cont1 {
        margin: 15px 0px 0px 70px;
    }

    #tit3 {
        font-size: 40px;
        padding-top: 5%;
    }

    .he3 {
        line-height: 20px;
        font-size: 13px;
        margin: 10px;
    }

    .container {
        display: flex;
        flex-direction: column;
        padding: 10px 10px 10px 70px;
    }

    .container .card {
        flex-direction: column;
        display: flex;
        margin: 0px 20px 20px 20px;
        width: 300px;
        font-size: 14px;
        height: 590px;
    }

    footer p {
        margin-right: 200px;
        font-size: 15px;
    }

    footer {
        width: 60%;
    }

    #imagesFooter {
        display: flex;
        flex-direction: reverse;
    }

    button {
        width: 141px;
        padding: 10px 20px;
    }

    #rosa {
        width: 141px;
        margin: 0px 20px 20px 70px;
        padding: 10px 20px;
    }

    #azulb {
        width: 141px;
        margin: 0px 20px 20px 70px;
        padding: 10px 20px;
    }

    #precio {
        width: 100%;
        height: 70px;
    }
}





@media screen and (min-width:352px) and (max-width:480px) {
    #tit1 {
        font-size: 55px;
        margin: 0px 0px 10px 30px;
    }

    #parrafo {
        margin: 0px 0px 10px 30px;
        font-size: 14px;
    }

    #boton {
        margin-left: 30px;
        width: 50vw;
        height: 50px;
    }

    .btn1 {
        width: 21vw;
        font-size: 10px;
        height: 35px;
    }

    .btn2 {
        width: 21vw;
        font-size: 11px;
        height: 35px;
    }
    .botont {
        font-size: 12px;
        padding: 4px 0px 4px 2px;
        border-radius: 5px;
        margin: 0px 1px 0px 0px;
    }

    .iphone {
        height: 45vh;
        margin: 50px 9px 0px 100px;
    }

    .contenedor2 {
        width: 100vw;
        height: 60vh;
    }

    #tit2 {
        font-size: 35px;
        padding-top: 60px;
    }

    .laptop {
        width: 40vw;
        height: 13vh;
        margin: 0px 0px 10px 80px;
    }

    #alpha {
        font-size: 32px;
    }

    #cont1 {
        margin: 15px 10px 0px 28px;
    }

    #tit3 {
        font-size: 30px;
        padding-top: 6%;
    }

    .he3 {
        line-height: 15px;
        font-size: 12px;
        margin: 10px;
    }

    .container {
        display: flex;
        flex-direction: column;
        padding: 10px 0px 10px 10px;
    }

    .container .card {
        flex-direction: column;
        display: flex;
        margin: 0px 10px 20px 20px;
        width: 300px;
        font-size: 13px;
        height: 565px;
    }

    #precio {
        width: 100%;
        height: 60px;
    }

    footer p {
        margin-right: 100px;
        font-size: 12px;
    }

    footer {
        width: 45%;
    }

    #imagesFooter {
        display: flex;
        flex-direction: reverse;
    }

    .pri {
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu ul {
        margin: 20px 1px;
        font-size: 9px;
    }

    .menu ul li a {
        margin: 0px 10px;
        font-size: 12px;
    }

    .menu {
        margin: 0px 25px;
        
    }

    #blanco {
        height: auto;
    }
    .contenedor1 {
        padding: 15px;
    }

    .contenedor2 {
        width: 100vw;
        height: 80vh;
    }

    #Inic1 {
        display: flex;
        flex-direction: column;
    }
    #parr2 {
        line-height: 20px;
    }

    .he2 {
        display: flex;
        flex-direction: column;
        margin: 99px 0px 15px 20px;
    }
    button {
        width: 141px;
        padding: 10px 20px;
    }

    #rosa {
        width: 141px;
        margin: 0px 20px 20px 70px;
        padding: 10px 20px;
    }

    #azulb {
        width: 141px;
        margin: 0px 20px 20px 70px;
        padding: 10px 20px;
    }

}